@model IEnumerable<ExemploRelatorio.Models.Prescricao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posologia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta.ConsultaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento.MedicamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posologia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescricaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescricaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescricaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
